body {
    width: 99vw;
}

main {
    padding-left: 40px;
}

main > section {
    display: none;
    width: 100%;
}

main > section:target {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}   

table {
    margin-top: 10px;
    width: 10vw;
}

table, th, td {
    border: solid black 1px;
}

header {
    width: 100%;
}

table {
    min-width: auto;
    width: 50%;
}

button {
    min-width: 100px;
    width: 10%;
}

tbody button {
    min-width: fit-content;
    width: 100%;
}

nav > ul {
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

nav > ul > li > button{
    width: 18vw;
    height: 50px;
}

td {
    text-align: center;
}

#tempor input {
    width: 145px;   
}